@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    -webkit-font-smoothing: antialiased;
}


@theme {

    --color-primary: var(--primary);
    --color-secondary: #FAFAFA;
    --color-customBlue: var(--secondary);

    --color-primary-text: #101828;
    --color-secondary-text: var(--primary);
    --color-hover-text: var(--primary);
    --color-customGray-text: #474D59;
    --color-customBlue-text: var(--secondary);

    --color-secondary-border: var(--primary);
    --color-primary-border: #ECEDEE;
    /* --color-primary-border: var(--primary); */
}