---
interface Props {
    title?: string | undefined;
    description?: string | undefined;
}

const {
    title = "Chai Keshab: Personal Site",
    description = "The personal site of Chai Keshab, a software engineer and web developer.",
} = Astro.props;
---

<meta charset="UTF-8" />
<meta name="description" property="og:description" content={description} />
<meta name="viewport" content="width=device-width" />
<meta name="generator" content={Astro.generator} />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />

<link
    rel="preload"
    href="/fonts/inter-regular.woff2"
    as="font"
    type="font/woff2"
    crossorigin="anonymous"
/>

<link
    rel="preload"
    href="/fonts/inter-bold.woff2"
    as="font"
    type="font/woff2"
    crossorigin="anonymous"
/>

<title>{title}</title>

<!-- <link rel="sitemap" href="/sitemap-index.xml" /> -->

<!-- <meta property="og:title" content="My New Astro Website" />
<meta property="og:type" content="website" />
<meta property="og:url" content="http://www.example.com/" />
<meta property="og:description" content="Welcome to my new Astro site!" />
<meta
    property="og:image"
    content="https://www.example.com/_astro/seo-banner.BZD7kegZ.webp"
/>
<meta property="og:image:alt" content="" /> -->
