---
const {} = Astro.props;
---

<section class="relative min-h-[calc(100vh-64px)] flex items-center">
  <div class="container mx-auto px-4 py-20 mb-32">
    <div class="hero-content space-y-6">
      <div class="font-mono text-primary text-lg animate-fade-in-up">
        Hi, my name is
      </div>
      <h1 class="text-6xl font-bold text-text animate-fade-in-up-delay-1">
        Keshab Chai
      </h1>
      <h2
        class="text-4xl md:text-6xl font-bold text-muted animate-fade-in-up-delay-2"
      >
        <span
          class="bg-gradient-to-r from-secondary via-primary to-accent bg-clip-text text-transparent"
        >
          I create solutions for the web
        </span>
      </h2>
      <div class="text-muted leading-relaxed max-w-xl space-y-4">
        <p>
          I'm a software developer focused on crafting (and sometimes designing)
          outstanding digital experiences.
        </p>
      </div>
    </div>
  </div>
</section>
